<html>
    <head>
        <title>{{ title }} - About</title>
    </head>
    <body>
        <h1>This is a project written by Shuke Pang and Buncheol Kim for CS425</h1>
        <p>It is used to search and book airline flights</p>
    </body>
</html>
