<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <form action="{{ url_for('processAddHomeAirport') }}" method = "POST" >
    <div class="form-group">
      <label>Airport Code:</label>
      <input class="form-control" value="" name="iata" required>
    </div>

    <div class="form-group">
      <label>Airport Name:</label>
      <input class="form-control" value="" name="name" required>
    </div>

    <div class="form-group">
      <label>Airport Country:</label>
      <input class="form-control" value="" name="country" required>
    </div>

    <div class="form-group">
      <label>Airport State:</label>
      <input class="form-control" value="" name="state" required>
    </div>

    <button class="btn btn-default">Submit</button>
  </form>
</body>
</html>
