<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <form action="{{ url_for('processPayment') }}" method = "POST" >

    <div class="form-group">
      <label >Card Number</label>
      <input class="form-control" value="" name="card_number" required>
    </div>

    <div class="form-group">
      <label>Billing Address</label>
      <input class="form-control" value="" name="card_address" required>
    </div>

    <div class="form-group">
      <label>City</label>
      <input class="form-control" value="" name="card_city" required>
    </div>

    <div class="form-group">
      <label>State (leave blank if not applicable)</label>
      <input class="form-control" value="" name="card_state">
    </div>

    <div class="form-group">
      <label>Country</label>
      <input class="form-control" value="" name="card_country" required>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input class="form-control" value="" name="email" required>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</body>
</html>
