<!DOCTYPE html>
<html>
<head>
    <title></title>
     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/showPayments.css') }}">
</head>
<body>
        <h1>Depart at: {{departure}}</h1>
        <h1>Arrive at : {{destination}}</h1>
        {%for flight in flights%}
        <div>
            <h2>Paths:</h2>
            {%for path in flight['path']%}
                <ul><h3>{{path}}</h3></ul>
            {% endfor %}

        </div>
        {% endfor %}

        <h2>With Flight(s) Number:</h2>
        {%for flight in flights%}
            {%for fnum in flight['fnumseq']%}
                <span>
                    {{fnum}}
                </span>
            {% endfor %}
        {% endfor %}
        <form action="{{ url_for('bookFlight') }}" method = "POST">
             <input class="form-control" value={{flights[0]['fnumseq']}} name="flights">
            <button type="submit">Confirm Trip</button>
        </form>

</body>
</html>
