<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>

    <div>
        <h1 id = welcomeText>Airline Booking App</h1>
    </div>

    <form action="http://localhost:5000/register">
        <input type="submit" class="btnHome" value="SIGNUP">
    </form>

    <form action="http://localhost:5000/login">
        <input type="submit" class="btnHome" value="LOGIN">
    </form>

</body>
</html>
