<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/logcss.css') }}">
</head>
<body>
    <h3>You will not be directed if email does not exist</h3>
    <form action="{{ url_for('login_process') }}" method = "POST">
        <div class="imgcontainer">
            <img src="travel.jpg" class="avatar">
        </div>

        <div class="container">
            <label><b>Email Address</b></label>
            <input type="text" placeholder="Enter your Email Address" name="email" value="" required>
            <button type="submit">Login</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
        </div>
    </form>
</body>
</html>
