<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/showPayments.css') }}">
</head>
<body>
        {%for booking in bookings%}
        <div>
            <h3>Booking id:{{booking['bookid']}}</h3>
            <ul>Card Used for this payment: {{booking['paycardnumber']}}</ul>
            <ul>Address used: {{booking['payaddress']}}</ul>
            <form action="{{ url_for('deleteBookings') }}" method = "POST">
                <label>Click number to the right to delete booking:</label>
                <input type="submit" value={{booking['bookid']}} name="bookid">
            </form>
        </div>
        {% endfor %}
    
</body>
</html>