<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <form action="{{ url_for('create_acct') }}" method = "POST" >

  <div class="form-group">
    <label >Email address:</label>
    <input type="email" class="form-control" value="" name="email" required>
  </div>

  <div class="form-group">
    <label> Name:</label>
    <input class="form-control" value="" name="name" required>
  </div>

  <div class="form-group">
    <label> Home Airport (IATA format): </label>
    <input class ="form-control" value="" name="homeairport" required>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>
