<!DOCTYPE html>
<html>
<head>
    <title></title>

</head>
<body>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

    <form action="http://localhost:5000/addPayment">
        <input type= submit class="btnHome" value="Add Payment">
    </form>

    <form action="http://localhost:5000/modifyPayment">
        <input type= submit class="btnHome" value="Modify Payment">
    </form>

    <form action="http://localhost:5000/showPayments">
        <input type= submit class="btnHome" value="Show Payments">
    </form>

    <form action="http://localhost:5000/flightConnections">
        <input type= submit class="btnHome" value="Search for Flight Connections">
    </form>

    <form action="http://localhost:5000/manageBookings">
        <input type= submit class="btnHome" value="Manage Bookings">
    </form>

    <form action="http://localhost:5000/addHomeAirport">
        <input type= submit class="btnHome" value="Add Home Airport">
    </form>

</body>
</html>
