<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/showPayments.css') }}">
</head>
<body>
        {%for payment in payments%}
        <div>
            <h3>Card Number: {{payment['card_number']}}</h3>
            <ul>Address: {{payment['card_street']}}</ul>
            <ul>City: {{payment['card_city']}}</ul>
            <ul>State: {{payment['card_state']}}</ul>
            <ul>Country: {{payment['card_country']}}</ul>
            <ul>Email: {{payment['email_address']}}</ul>
        </div>
        {% endfor %}

</body>
</html>
